[mysqld]
# Set innodb as default
default-storage-engine=InnoDB

innodb_log_buffer_size=32M
innodb_buffer_pool_size=256M
innodb_log_file_size=32M

innodb_file_per_table=1

# See https://github.com/docksal/service-db/pull/1
innodb_file_format=barracuda
innodb_large_prefix=1

# This is only necessary for MySQL5.6
# https://github.com/docksal/service-db/issues/2
innodb_log_file_size = 128MB

# Max packets
max_allowed_packet = 128M
